html{
    font-size: 62.5%;
}
html,
body {
  height: 100vh;
  width: 100vw;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
}
main{
    height: calc(100% - 60px);
    background: #005A72;
    position: relative;

}
h3{
    text-align: center;
    margin: 20px auto;
    background-color: #7ACB13;
    color: black;
    border-radius: 25px;
    padding: 8px;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Quicksand-bold', sans-serif;
}
#titulo {
    padding-top: 2%;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Quicksand-bold', sans-serif;
}
main  .container{
    justify-content: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
}
.imagem_danos{
    margin-top: 4%;
    background-color: #7ACB13;
    width: 25%;
    border-radius: 80px;
}
main i{
    font-size: 11vw;
    color: white;
    position: absolute;
}


.content p{
    font-family: 'Quicksand', sans-serif;
    display: block;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: initial;
    
}

main .container .content{
    padding-top: 7%;
    text-align: center;
    overflow: auto;
    margin-top: 10px;

}

#i1 {
    position: absolute;
    left: 89%;
    top: 50%;
}
#i2{
    position: absolute;
    right: 89%;
    top: 50%;
}

button{
    position: absolute;
    bottom:40px;
    font-size: 2rem;
    border-radius: 10px;
    background: #0A89AB;
    width: 50vw;
    padding: 10px;
    transition:.2s;
}
button:active{
    background-color: white;
    color: #0A89AB;

}
select{
    width: 40vw;
    font-size: 1.4rem;
    padding: 10px 5px;
    text-align: center;
    border-radius: 10px;
    background: white;
}
select:focus{
    border: 3px solid  #0A89AB;
}
label{
    margin-bottom: 10px;
    font-size: 1.4rem;
}

@media (min-width:768px){
    
    h3{
        font-size: 1.8em!important;
      
    }
    h2{
        font-size: 1.8em!important;
    }
    #i2{
        font-size: 5em;
    }
    img{
        width: 15vw!important;
    }
    p{
        font-size: 1.5em!important;
    }
   
}
