/*
Fonte local para não quebrar com falta de internet
@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand.ttf") format("ttf"),
    }
*/

nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #0A89AB;
    height: 10vh;
    color: white; 
}

a{
    font-size: 7vw;
    position: absolute;
    margin-left: 3vw;
    color: white;
}

h2{
    font-size: 5vw;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.balao{
    
    margin-top: 15vh;
    border-radius: 0px 0px 100px 0px;
    width: 100vw;
    height: 30vh;
    background: #005A72;
    margin-bottom: 1vh;
    overflow: auto;
  }
.balao2{
    
    margin-top: 8vh;
    border-radius: 0px 0px 100px 0px;
    width: 100vw;
    height: 30vh;
    background: #005A72;
    margin-bottom: 1vh;
    overflow: auto;
  }

p{
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    line-height:130%;
    font-size: 0.8em;
    font-weight: 300;
    text-align: justify;
    color: white;
}

h3{
    padding-top: 20px;
    padding-bottom: 1vh;
    font-size: 1.6rem!important;
    text-align: center;

    color: white;

    font-family: 'Quicksand-bold', sans-serif!important;

}
.boneco{
    height: 20px;
}
.boneco img{
    position: absolute;
    margin-top: 1vh;
    width: 40vw;
}

@media (min-width:768px){
    p{
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
    }
    h3{
        padding-top:30px;
        font-size: 1.2em!important;
    }

    h2{
        font-size: 1.5em;
    }
    i{
        font-size: 4vw;
    }

}


