
body{
    
    font-family: 'Quicksand', sans-serif;

}
p{
    position: absolute;
    top: 13%;
    left: 7%;
    width: 85vw;
    text-align: justify;
    line-height: 130%;
    color: blanchedalmond;
}


.container a{
    font-size: max(25px,3vw);
    position: absolute;
    left: 3%;
    color: white;
}

.balao_h3{
    position: absolute;
    left: 20vw;
    top: 15vh;
    width: 60vw;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #7ACB13;
}



main{
    display: block;
    border-radius: 0px 0px 100px 0px;
    width: 100vw;
    height: 20vh;
    background: #005A72;
  }


.botoes{
   position: absolute;
   margin-left: 6vw;
   top: 42%;
}
button{
    border: none;
    font-size:4px;
    border-top: 20px;
    width: 90vw;
    height: 6vh;
    display: block;
    font-family: 'Nunito', sans-serif;
    color: blanchedalmond;
    background: #0A89AB;
    
}

.b1{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: max(13px,2vw);
    margin-top: 0.5vh;
}