
header {
    background-color: #0A89AB;
    height: 10vh;
    color: white; 
}

.container a{
    font-size: max(25px,3vw);
    position: absolute;
    left: 3%;
    color: white;
}
  
.container h2{
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: max(16px,3vw);
    left: 45vw;
    
}
header .container {
    display: flex;
    align-items: center;
    vertical-align: bottom;
    height: 100%;
    width: 90%;
    max-width: 980px;
}

main{
    display: block;
    border-radius: 0px 0px 100px 0px;
    width: 100vw;
    height: 50vh;
    background: #005A72;
  }

.p1{
    top: 13vh;
    width: 90vw;
    position: absolute;
    left: 5vw;
    text-align: center;


}
  p{
    font-size: min(12px,3vw);
    text-align: justify;
    line-height: 130%;
    font-family: 'Nunito', sans-serif;
    color: blanchedalmond;
  }

  .p2{
    top: 38vh;
    width: 90vw;
    position: absolute;
    left: 5vw;
    text-align: center;


}

.botoes{
   margin-left: 6vw;
   margin-top: 5vh;
}
button{
    border: none;
    font-size:4px;
    border-top: 20px;
    width: 90vw;
    height: 6vh;
    display: block;
    font-family: 'Nunito', sans-serif;
    color: blanchedalmond;
    background: #0A89AB;
    
    
    
}

.b1{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: max(13px,2vw);
    margin-top: 0.5vh;
}