@font-face{
    font-family: Quicksand;
    src: url("../fonts/Quicksand-Light.ttf");
    font-weight: 300;

}
@font-face{
    font-family: Quicksand;
    src: url("../fonts/Quicksand.ttf");
    font-weight: 500;
}
@font-face{
    font-family: Quicksand;
    src: url("../fonts/Quicksand-Bold.ttf");
    font-weight: 700;
}   
*{
    font-family: Quicksand !important;
}