* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  overflow: hidden;

}
main {
  height: calc(100% - 60px);
  width: 100%;
  overflow: hidden;
}
main .container {
  box-sizing: border-box;
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
.text {
  color: white;
  background-color: #005a72;
  color: white;
  width: 100%;
  padding: 25px;
  text-align: justify;
  border-radius: 0px 0px 50px 0px;
}
.text + .text {
  border-radius: 0px 0px 0px 50px;
}
#leis{
  height: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0px 0px 50px 0px;
}
#figurasLeis{
  margin-top:20px;
  height: 50%;
  display: flex;
}
#leis figure{
  text-align: center;
  font-size: 1.2rem;
  margin: 5px;
  flex-grow: 1;
}
#leis img{
  margin-bottom: 5px;
  width: 10vw;

  max-width: 44px;
  color: white;
}
.circle{
  border: 2px solid white;
  border-radius: 50%;
  width: auto;
}
p{
  font-size: 0.7em;
  font-weight: bold;
  width: 100%;
  /* line-height: 135%; */
  color: white;
  text-align: center;
}
