html{
    font-size: 62.5%;
}
html,
body {
  height: 100vh;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
}
main{
    height: calc(100% - 60px);
    background: #005A72;

}
h3{
    text-align: center;
    margin: 20px auto;
    background-color: #7ACB13;
    color: black;
    border-radius: 25px;
    padding: 8px;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}
#titulo {
    padding-top: 2%;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}
main  .container{
    display: flex;
    height: 100%;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
}
main .container img{
    margin-top: 4%;
    background-color: #7ACB13;
    width: 25%;
    border-radius: 80px;
}
main i{
    font-size: 11vw;
    color: white;
    position: absolute;
}


.content p{
    font-family: 'Quicksand', sans-serif;
    display: block;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: initial;
}

main .container .content{
    padding-top: 7%;
    text-align: center;
}
#i1 {
    left: 93%;
    top: 50%;
}
#i2{
    right: 93%;
    top: 50%;
}



@media (min-width:768px){
    
    h3{
        font-size: 1.8em!important;
      
    }
    h2{
        font-size: 1.8em!important;
    }
    #i2{
        font-size: 5em;
    }
    img{
        width: 15vw!important;
    }
    p{
        font-size: 1.5em!important;
    }
   
}
