html{
    font-size: 62.5%;
}
html,
body {
  height: 100vh;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
}
main{
    height: calc(90% - 60px);
    background: #005A72;
    border-radius:0 0 100px 100px;
}



.balao_h3{
    position: absolute;
    left: 11vw;
    top: 15vh;
    height: 8vh;
    width: 80vw;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #7ACB13;
    padding: 0 10px;
}
.balao_h3 h3{
   
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding-top: 2vh;
    font-size: max(14px,3vw)
}

#imagem_principal{
    margin-top: 10vh;
    width: 105vw;
}
#botao_proximo{
    border-radius: 20px;
    font-size: 1.8em;
    background: #7ACB13;
    width: 35vw;
    padding-top: 10px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
    color: black;
    margin-left: 20vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  

}
#proximo{
    border-radius: 20px;
    font-size: 1.8em;
    background: #7ACB13;
    width: 35vw;
    padding-top: 10px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  

}
.botoes{
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    justify-content: space-between;
    display: flex;
    
}
#voltar{
    border-radius: 20px;
    font-size: 1.8em;
    background: #7ACB13;
    width: 35vw;
    padding-top: 10px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
    float: left;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  

}

.detalhe{
    margin-top: 15vh;
    margin-left: 4vw;
    width: 95vw;
}

@media (min-width:768px){
    img{
        width: 50vw!important;
        margin-left: 25vw!important;
    }
    .balao_h3{
        position: absolute;
        left: 20vw;
        top: 15vh;
        height: 8vh;
        width: 60vw;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        background-color: #7ACB13;
    }
    .balao_h3 h3{
       
        color: black;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
        padding-top: 2vh;
        font-size: 2em;

    }
}


