
.balao{
    margin-top: 5vh;
    background-color: #005a72;
    color: white;
    height: 30vh;
    border-radius: 0 0 25% 0;
}

p{
    padding-top: 4vh;
    width: 90vw;
}
h2{
    line-height: 130%!important;
}
img{
    margin-top: 3vh;
    width: 100%;
    object-fit: cover;
    
}

@media (min-width:768px){
    img{
        width: 50%;
    }

}