html{
    font-size: 62.5%;
}
html,
body {
  height: 100vh;
  font-family: "Nunito", sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
header h2{
    min-width: 190px;
    max-height: 45px;
    top: 4% !important;
    text-align: center; 
}
main{
    height: calc(100% - 60px);
}
main  .container{
    display: flex;
    height: 100%;
    justify-content: space-around;
    flex-direction: column;
}
.container .content{
    background-color: #005a72;
    color: white;
    border-radius: 0 0 25% 0;
}

.container .content p{
    display: block;
    margin: 20px;
    font-size: 1.4rem;
}
.image{
    height: 40vh;
    display: block;
    position: relative;
}
img{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
}