p{
    width: 90vw;
    
    line-height: 130%;
    color: blanchedalmond;
}
main{
    display: flex!important;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    background: #005A72;
}

img{
    height: 17vh;
}

h1{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: "Nunito", sans-serif;
}

.barra{
  padding-bottom: 15%;
  justify-content: space-around;
  display: flex;
  background-color: #005A72;
  flex-direction: column;
  align-items: center;
}

@media (min-width:768px){
    p{
        padding-top: 5vw;
        font-size: 1em;
    }
    img{
        height: 22vh;
    }
    h1{
        font-size: 2.5em;
    }
    .barra{
        padding-bottom: 9%;
    }

}

